<main class="entity h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <div class="flex justify-between">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Detail uživatele <span class="text-gray-500 dark:text-gray-600">#{{user.id}}</span>
      </h2>
      <div class="my-6">
        <a class="mr-1 btn btn-sm btn-secondary" routerLink="edit"> Upravit </a>
        <a *ngIf="user.id != authService.getUser.id" class="ml-1 btn btn-sm btn-danger" (click)="showDelete()">
          Smazat
        </a>
        <a *ngIf="user.id == authService.getUser.id" class="ml-1 btn btn-sm btn-warning disabled cursor-not-allowed">
          Nelze smazat
        </a>
      </div>
    </div>

    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="mt-2 flex px-4 py-4 justify-between">
        <!-- Card -->

        <div class="fields">
          <!-- Left side -->

          <div class="field">
            <label for="username">Uživatelské jméno</label>
            <input id="username" [value]="user.username" readonly type="text" />
          </div>
          <div class="field">
            <label for="password">Heslo</label>
            <input id="password" value="********" readonly type="password" />
          </div>
          <div class="field">
            <label for="role">Role</label>
            <input id="role" [value]="user.role" readonly type="text" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-delete-modal
    itemName="uživatele"
    (confirm)="submitDelete()"
    id="delete-user-modal"
    class="modal"
    style="display: none"
  >
  </app-delete-modal>
</main>
