<main class="entity h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <div class="flex justify-between">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Detail skupiny <span class="text-gray-500 dark:text-gray-600">#{{group.id}}</span>
      </h2>
      <div class="my-6">
        <a class="mr-1 btn btn-sm btn-secondary" routerLink="edit"> Upravit </a>
        <a class="ml-1 btn btn-sm btn-danger" (click)="showDelete()"> Smazat </a>
      </div>
    </div>

    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="mt-2 flex px-4 py-4 justify-between">
        <!-- Card -->

        <div class="fields">
          <!-- Left side -->
          <div class="field">
            <label for="name">Název</label>
            <input id="name" [value]="group.name" readonly type="text" />
          </div>
          <div class="field">
            <label for="alert">Informační zpráva</label>
            <input id="alert" [value]='group.alert ? group.alert.name : "nenastavena"' readonly type="text" />
          </div>
        </div>
      </div>

      <div class="mt-2 mb-2 text-xl font-semibold text-gray-700 dark:text-gray-200 relative">Přiřazené přehrávače</div>
      <app-datagrid
        [entity]="entity"
        [dataLoader]="dataLoader"
        [showCount]="false"
        (addItem)="addPlayer()"
        (detailItem)="changePlayer($event)"
        (deleteItem)="submitPlayerDelete()"
      ></app-datagrid>

      <app-modal id="add-player-modal" class="modal" style="display: none">
        <form (ngSubmit)="submitModal()" #groupForm="ngForm">
          <!-- Modal body -->
          <div class="mt-4 mb-6">
            <!-- Modal title -->
            <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">Přidat panel</p>
            <!-- Modal description -->
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"> </span>
              <select
                (change)="changePlayer($event)"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                name="group"
                class="
                  block
                  w-full
                  mt-1
                  text-sm
                  dark:text-gray-300
                  dark:border-gray-600
                  dark:bg-gray-700
                  form-select
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:focus:shadow-outline-gray
                "
              >
                <option value="" disabled>Zvolte panel</option>
                <option value="null">Prázdná hodnota</option>
                <option *ngFor="let item of players" [value]="item.id">{{item.name}}</option>
              </select>
            </label>
          </div>
          <footer
            class="
              flex flex-col
              items-center
              justify-end
              px-6
              py-3
              -mx-6
              -mb-4
              space-y-4
              sm:space-y-0 sm:space-x-6
              sm:flex-row
              bg-gray-50
              dark:bg-gray-800
            "
          >
            <button
              type="button"
              (click)="closeModal()"
              class="
                w-full
                px-5
                py-3
                text-sm
                font-medium
                leading-5
                text-white text-gray-700
                transition-colors
                duration-150
                border border-gray-300
                rounded-lg
                dark:text-gray-400
                sm:px-4
                sm:py-2
                sm:w-auto
                active:bg-transparent
                hover:border-gray-500
                focus:border-gray-500
                active:text-gray-500
                focus:outline-none
                focus:shadow-outline-gray
              "
            >
              Zrušit
            </button>
            <button
              type="submit"
              class="
                w-full
                px-5
                py-3
                text-sm
                font-medium
                leading-5
                text-white
                transition-colors
                duration-150
                bg-purple-600
                border border-transparent
                rounded-lg
                sm:w-auto
                sm:px-4
                sm:py-2
                active:bg-purple-600
                hover:bg-purple-700
                focus:outline-none
                focus:shadow-outline-purple
              "
            >
              Přidat
            </button>
          </footer>
        </form>
      </app-modal>
    </div>
  </div>
  <app-delete-modal
    itemName="skupinu"
    (confirm)="submitDelete()"
    id="delete-group-modal"
    class="modal"
    style="display: none"
  >
  </app-delete-modal>
  <app-delete-modal
    itemName="přiřazení asset listu"
    (confirm)="submitPlayerDelete()"
    id="delete-playerassign-modal"
    class="modal"
    style="display: none"
  >
  </app-delete-modal>
</main>
