<main class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Obrázky a videa</h2>
    <app-datagrid
      (detailItem)="showDetail($event)"
      (addItem)="createNew()"
      (deleteItem)="showDelete($event)"
      [entity]="getEntityStructure()"
      [dataLoader]="getEntityDataLoader()">
    </app-datagrid>

    <app-delete-modal
      itemName="asset"
      (confirm)="submitDelete()"
      id="delete-asset-modal"
      class="modal"
      style="display: none"
    >
    </app-delete-modal>
  </div>
</main>
