<main class="entity h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <div class="flex justify-between">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Detail grafického obsahu <span class="text-gray-500 dark:text-gray-600">#{{asset.id}}</span>
      </h2>
      <div class="my-6">
        <a class="mr-1 btn btn-sm btn-secondary" routerLink="edit"> Upravit </a>
        <a class="ml-1 btn btn-sm btn-danger" (click)="showDelete()"> Smazat </a>
      </div>
    </div>

    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="mt-2 flex px-4 py-4">
        <!-- Card -->
        <div class="w-1/4">
          <ng-container *ngIf="asset.type">
            <img *ngIf="asset.type.includes('image')" class="object-contain h-64" src="{{asset.path}}" />
            <video *ngIf="asset.type.includes('video')" class="h-64" controls>
              <source src="{{asset.path}}" type="{{asset.type}}" />
              Your browser does not support the video tag.
            </video>
          </ng-container>
        </div>
        <div class="fields w-3/4 mx-10">
          <!-- Left side -->
          <div class="field">
            <label for="name">Název</label>
            <input id="name" [value]="asset.name" readonly type="text" />
          </div>
          <div class="field">
            <label for="type">Typ</label>
            <input id="type" [value]="asset.type" readonly type="text" />
          </div>
          <div class="field">
            <label for="alert">Překrytí informační zprávou</label>
            <input id="alert" [value]='asset.alert ? asset.alert.name : "nenastaveno"' readonly type="text" />
          </div>
          <div class="field">
            <label for="showtime">Délka zobrazení</label>
            <input id="showtime" [value]='asset.showTime ? asset.showTime : "standardní"' readonly type="text" />
          </div>
          <div class="field">
            <label for="folder">Složka</label>
            <input id="folder" [value]='asset.directory ? asset.directory.name : "žádná"' readonly type="text" />
          </div>
          <div class="field">
            <label for="deleteafter">Smazat po</label>
            <input
              id="deleteafter"
              [value]='asset.validity && asset.validity.enabled ? asset.validity.to : "bez omezení"'
              readonly
              type="text"
            />
          </div>
          <div class="field hidden">
            <label for="animationIn">Vstupní animace</label>
            <input
              id="animationIn"
              [value]='asset.animationIn && asset.animationIn.name ? asset.animationIn.name : "bez animace"'
              readonly
              type="text"
            />
          </div>
          <div class="field hidden">
            <label for="animationOut">Závěrečná animace</label>
            <input
              id="animationOut"
              [value]='asset.animationOut && asset.animationOut.name ? asset.animationOut.name : "bez animace"'
              readonly
              type="text"
            />
          </div>
          <div class="field hidden">
            <label for="validity">Validita</label>
            <input
              id="validity"
              [value]='asset.validity && asset.validity.enabled ?
                asset.validity.from + " - " + asset.validity.to : "bez omezení"'
              readonly
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h2 class="mb-2 relative text-xl font-semibold text-gray-700 dark:text-gray-200">Obsaženo v playlistech</h2>
        <app-datagrid
          [entity]="entity"
          [dataLoader]="dataLoader"
          [showCount]="false"
          (addItem)="createNew('playlist')"
          (detailItem)="showDetail('playlist', $event)"
          (deleteItem)="showAssignDelete('playlist', $event)"
        ></app-datagrid>
      </div>
    </div>
  </div>
  <app-delete-modal
    itemName="asset"
    (confirm)="submitDelete()"
    id="delete-asset-modal"
    class="modal"
    style="display: none"
  >
  </app-delete-modal>
</main>
