<main class="entity h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <div class="flex justify-between">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Detail informační zprávy <span class="text-gray-500 dark:text-gray-600">#{{alert.id}}</span>
      </h2>
      <div class="my-6">
        <a class="mr-1 btn btn-sm btn-secondary" routerLink="edit"> Upravit </a>
        <a class="ml-1 btn btn-sm btn-danger" (click)="showDelete()"> Smazat </a>
      </div>
    </div>

    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="mt-2 flex px-4 py-4">
        <!-- Card -->
        <div class="fields">
          <!-- Left side -->
          <div class="field">
            <label for="name">Název</label>
            <input id="name" [value]="alert.name" readonly type="text" />
          </div>
          <div class="field">
            <label for="value">Text</label>
            <input id="value" [value]="alert.value" readonly type="text" />
          </div>
          <div class="field">
            <label for="position">Pozice</label>
            <input id="position" [value]="positionName(alert.position)" readonly type="text" />
          </div>
          <div class="field">
            <label for="type">Typ</label>
            <input id="type" [value]="typeName(alert.type)" readonly type="text" />
          </div>
          <div class="field">
            <label for="running">Běžící</label>
            <input id="running" [value]='alert.running === true ? "Ano" : "Ne"' readonly type="text" />
          </div>
          <div class="field">
            <label for="background">Pozadí</label>
            <input
              id="background"
              [value]='alert.background ? alert.background.name : "nenastaveno"'
              readonly
              type="text"
            />
          </div>
          <div class="field">
            <label for="borders">Ohraničení</label>
            <input id="borders" [value]='alert.borders ? alert.borders.name : "nenastaveno"' readonly type="text" />
          </div>
          <div class="field">
            <label for="textSize">Velikost text</label>
            <input id="textSize" [value]='alert.textSize ? alert.textSize.name : "nenastaveno"' readonly type="text" />
          </div>
          <div class="field">
            <label for="textColor">Barva text</label>
            <input
              id="textColor"
              [value]='alert.textColor ? alert.textColor.name : "nenastaveno"'
              readonly
              type="text"
            />
          </div>
          <div class="field">
            <label for="textPosition">Zarovnání textu</label>
            <input
              id="textPosition"
              [value]='alert.textPosition ? alert.textPosition.name : "nenastaveno"'
              readonly
              type="text"
            />
          </div>
          <div class="field">
            <label for="validity">Validita</label>
            <input
              id="validity"
              [value]='alert.validity && alert.validity.enabled ? alert.validity.from + " - " + alert.validity.to : "bez omezení"'
              readonly
              type="text"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-delete-modal
    itemName="informační zprávu"
    (confirm)="submitDelete()"
    id="delete-alert-modal"
    class="modal"
    style="display: none"
  >
  </app-delete-modal>
</main>
