<main class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      <span *ngIf="style.id == undefined; then createTitle else editTitle"></span>
      <ng-template #createTitle>Nový vzhled</ng-template>
      <ng-template #editTitle
        >Editace vzhledu <span class="text-gray-500 dark:text-gray-600">#{{style.id}}</span></ng-template
      >
    </h2>

    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="w-full md:w-full lg:w-1/2">
        <form (ngSubmit)="onSubmit()" #styleForm="ngForm">
          <div>
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400">Název</span>
              <input
                [(ngModel)]="style.name"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                name="name"
                type="text"
                class="
                  block
                  w-full
                  mt-1
                  text-sm text-black
                  dark:border-gray-600
                  dark:bg-gray-700
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:text-gray-300
                  dark:focus:shadow-outline-gray
                  form-input
                "
              />
            </label>
          </div>
          <div class="mt-4">
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"> Typ </span>
              <select
                (change)="changeType($event)"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                name="type"
                class="
                  block
                  w-full
                  mt-1
                  text-sm
                  dark:text-gray-300
                  dark:border-gray-600
                  dark:bg-gray-700
                  form-select
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:focus:shadow-outline-gray
                "
              >
                <option value="" disabled>Zvolte typ</option>
                <option *ngFor="let item of types | keyvalue" [value]="item.key" [selected]="style.type == item.key">
                  {{item.value}}
                </option>
              </select>
            </label>
          </div>
          <div class="mt-4">
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400">Hodnota</span>
              <input
                [(ngModel)]="style.value"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                name="value"
                type="text"
                class="
                  block
                  w-full
                  mt-1
                  text-sm text-black
                  dark:border-gray-600
                  dark:bg-gray-700
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:text-gray-300
                  dark:focus:shadow-outline-gray
                  form-input
                "
              />
            </label>
          </div>
          <div class="mt-4">
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"> Typ hodnoty </span>
              <select
                (change)="changeValueType($event)"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                name="valuetype"
                class="
                  block
                  w-full
                  mt-1
                  text-sm
                  dark:text-gray-300
                  dark:border-gray-600
                  dark:bg-gray-700
                  form-select
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:focus:shadow-outline-gray
                "
              >
                <option value="" disabled>Zvolte typ hodnoty</option>
                <option
                  *ngFor="let item of valueTypes | keyvalue"
                  [value]="item.key"
                  [selected]="style.valueType == item.key"
                >
                  {{item.value}}
                </option>
              </select>
            </label>
          </div>
          <div class="mt-8">
            <button
              type="submit"
              [disabled]="!styleForm.form.valid || loading"
              [ngClass]="{ disabled: loading }"
              class="
                flex
                items-center
                justify-center
                w-full
                px-4
                py-2
                text-sm
                font-medium
                leading-5
                text-white
                transition-colors
                duration-150
                bg-purple-600
                border border-transparent
                rounded-lg
                active:bg-purple-600
                hover:bg-purple-700
                focus:outline-none
                focus:shadow-outline-purple
              "
            >
              <svg *ngIf="!loading" class="w-4 h-4" fill="currentColor" aria-hidden="true" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
              <span *ngIf="!loading">
                <span *ngIf="style.id == undefined; then createBtn else editBtn"></span>
                <ng-template #createBtn>Vytvořit</ng-template>
                <ng-template #editBtn>Uložit</ng-template>
              </span>
              <svg
                *ngIf="loading"
                class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
              <span *ngIf="loading">Ukládání</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
