<main class="entity h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <div class="flex justify-between">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Detail vzhledu
        <span class="text-gray-500 dark:text-gray-600">#{{style.id}}</span>
      </h2>
      <div class="my-6">
        <a class="mr-1 btn btn-sm btn-secondary" routerLink="edit"> Upravit </a>
        <a class="ml-1 btn btn-sm btn-danger" (click)="showDelete()"> Smazat </a>
      </div>
    </div>

    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="mt-2 flex px-4 py-4 justify-between">
        <!-- Card -->

        <div class="fields">
          <!-- Left side -->
          <div class="field">
            <label for="name">Název</label>
            <input id="name" [value]="style.name" readonly type="text" />
          </div>
          <div class="field">
            <label for="type">Typ</label>
            <input id="type" [value]="typeName(style.type)" readonly type="text" />
          </div>
          <div class="field">
            <label for="valueType">Typ hodnoty</label>
            <input id="valueType" [value]="valueTypeName(style.valueType)" readonly type="text" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-delete-modal
    itemName="nastavení vzhledu"
    (confirm)="submitDelete()"
    id="delete-style-modal"
    class="modal"
    style="display: none"
  >
  </app-delete-modal>
</main>
