<main class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      <span *ngIf="assetList.id == undefined; then createTitle else editTitle"></span>
      <ng-template #createTitle>Nový seznam</ng-template>
      <ng-template #editTitle
        >Editace seznamu<span class="text-gray-500 dark:text-gray-600">#{{assetList.id}}</span></ng-template
      >
    </h2>

    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="w-full md:w-full lg:w-1/2">
        <form (ngSubmit)="onSubmit()" #assetListForm="ngForm">
          <div>
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400">Název</span>
              <input
                [(ngModel)]="assetList.name"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                name="name"
                type="text"
                class="
                  block
                  w-full
                  mt-1
                  text-sm text-black
                  dark:border-gray-600
                  dark:bg-gray-700
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:text-gray-300
                  dark:focus:shadow-outline-gray
                  form-input
                "
              />
            </label>
          </div>
          <div class="mt-4">
            <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
              <input
                [(ngModel)]="assetList.enabled"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                type="checkbox"
                name="toggle"
                id="toggle"
                class="
                  toggle-checkbox
                  absolute
                  block
                  w-6
                  h-6
                  rounded-full
                  bg-white
                  border-4
                  appearance-none
                  cursor-pointer
                "
              />
              <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full cursor-pointer"></label>
            </div>
            <label for="toggle" class="text-base align-middle">Aktivní</label>
          </div>
          <div class="mt-4">
            <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
              <input
                [(ngModel)]="assetList.prioritized"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                type="checkbox"
                name="togglePrioritized"
                id="togglePrioritized"
                class="
                  toggle-checkbox
                  absolute
                  block
                  w-6
                  h-6
                  rounded-full
                  bg-white
                  border-4
                  appearance-none
                  cursor-pointer
                "
              />
              <label
                for="togglePrioritized"
                class="toggle-label block overflow-hidden h-6 rounded-full cursor-pointer"
              ></label>
            </div>
            <label for="togglePrioritized" class="text-base align-middle">Prioritní</label>
          </div>
          <div class="mt-4 hidden">
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"> Vstupní animace </span>
              <select
                (change)="changeAnimation($event, 'IN')"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                name="group"
                class="
                  block
                  w-full
                  mt-1
                  text-sm
                  dark:text-gray-300
                  dark:border-gray-600
                  dark:bg-gray-700
                  form-select
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:focus:shadow-outline-gray
                "
              >
                <option value="" disabled>Zvolte animaci</option>
                <option value="null">Bez animace</option>
                <option
                  *ngFor="let item of animations | async"
                  [value]="item.id"
                  [selected]="assetList.animationIn.id == item.id"
                >
                  {{item.name}}
                </option>
              </select>
            </label>
          </div>
          <div class="mt-4 hidden">
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"> Závěrečná animace </span>
              <select
                (change)="changeAnimation($event, 'OUT')"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                name="group"
                class="
                  block
                  w-full
                  mt-1
                  text-sm
                  dark:text-gray-300
                  dark:border-gray-600
                  dark:bg-gray-700
                  form-select
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:focus:shadow-outline-gray
                "
              >
                <option value="" disabled>Zvolte animaci</option>
                <option value="null">Bez animace</option>
                <option
                  *ngFor="let item of animations | async"
                  [value]="item.id"
                  [selected]="assetList.animationOut.id == item.id"
                >
                  {{item.name}}
                </option>
              </select>
            </label>
          </div>
          <div class="mt-4 hidden">
            <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
              <input
                [(ngModel)]="assetList.validity.enabled"
                [ngClass]="{ disabled: loading }"
                [disabled]="loading"
                type="checkbox"
                name="toggle"
                id="validity-toggle"
                class="
                  toggle-checkbox
                  absolute
                  block
                  w-6
                  h-6
                  rounded-full
                  bg-white
                  border-4
                  appearance-none
                  cursor-pointer
                "
              />
              <label
                for="validity-toggle"
                class="toggle-label block overflow-hidden h-6 rounded-full cursor-pointer"
              ></label>
            </div>
            <label for="validity-toggle" class="text-base align-middle">Časově omezená validita</label>
          </div>
          <div class="mt-4 flex justify-between hidden">
            <label class="inline-block text-sm">
              <span class="text-gray-700 dark:text-gray-400">Validní od</span>
              <input
                [(ngModel)]="assetList.validity.from"
                [ngClass]="{ disabled: loading || !assetList.validity.enabled }"
                [disabled]="loading || !assetList.validity.enabled"
                name="validity.from"
                type="datetime-local"
                class="
                  block
                  w-full
                  mt-1
                  text-sm text-black
                  dark:border-gray-600
                  dark:bg-gray-700
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:text-gray-300
                  dark:focus:shadow-outline-gray
                  form-input
                "
              />
            </label>
            <label class="inline-block text-sm">
              <span class="text-gray-700 dark:text-gray-400">Validní do</span>
              <input
                [(ngModel)]="assetList.validity.to"
                [ngClass]="{ disabled: loading || !assetList.validity.enabled }"
                [disabled]="loading || !assetList.validity.enabled"
                name="validity.to"
                type="datetime-local"
                class="
                  block
                  w-full
                  mt-1
                  text-sm text-black
                  dark:border-gray-600
                  dark:bg-gray-700
                  focus:border-purple-400
                  focus:outline-none
                  focus:shadow-outline-purple
                  dark:text-gray-300
                  dark:focus:shadow-outline-gray
                  form-input
                "
              />
            </label>
          </div>
          <div class="mt-8">
            <button
              type="submit"
              [disabled]="!assetListForm.form.valid || loading"
              [ngClass]="{ disabled: loading }"
              class="
                flex
                items-center
                justify-center
                w-full
                px-4
                py-2
                text-sm
                font-medium
                leading-5
                text-white
                transition-colors
                duration-150
                bg-purple-600
                border border-transparent
                rounded-lg
                active:bg-purple-600
                hover:bg-purple-700
                focus:outline-none
                focus:shadow-outline-purple
              "
            >
              <svg *ngIf="!loading" class="w-4 h-4" fill="currentColor" aria-hidden="true" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
              <span *ngIf="!loading">
                <span *ngIf="assetList.id == undefined; then createBtn else editBtn"></span>
                <ng-template #createBtn>Vytvořit</ng-template>
                <ng-template #editBtn>Uložit</ng-template>
              </span>
              <svg
                *ngIf="loading"
                class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
              <span *ngIf="loading">Ukládání</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
