<div class="flex items-center min-h-screen p-4 bg-gray-100 justify-center">
  <div
    class="
      flex flex-col
      overflow-hidden
      bg-white
      rounded-md
      shadow-lg
      w-full
      max
      md:flex-row md:flex-1
      lg:max-w-screen-md
    "
  >
    <div
      class="
        p-4
        py-6
        px-16
        text-white
        bg-secondary-500
        md:w-80
        w-80
        md:flex-shrink-0 md:flex md:flex-col
        md:items-center
        md:justify-evenly
      "
    >
      <div class="flex flex-col items-center justify-center mt-1 text-center font-bold">
        <img class="" src="/assets/images/fryda.png" />
        <span class="mt-4"> OC Frýda </span>
      </div>
      <p class="mt-6 text-center">Signage Software</p>
    </div>
    <!-- sign in form -->
    <app-sign-in-form
      class="p-5 bg-white md:flex-1"
      [errorMessage]="errorMessage"
      [loading]="loading"
      (signIn)="onSignIn($event)"
    ></app-sign-in-form>
    <!-- sign in form end -->
  </div>
</div>
