<div class="inline-block align-middle text-center w-1/12">
  <div title="{{ item.id }}">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
    </svg>
  </div>
</div>
<div class="inline-block align-middle w-1/4 md:w-1/4 lg:w-1/4 xl:w-1/4">
  <img class="mx-auto h-32 object-cover max-w-3xl" src="{{ item.path }}" />
</div>
<div class="inline-block align-middle w-1/4 md:w-1/4 lg:w-1/4 xl:w-1/4">
  <div>
    {{ item['name'] }}
  </div>
</div>
<div class="inline-block align-middle w-1/4 md:w-1/4 lg:w-1/4 xl:w-1/4">
  <div>
    {{ item['type'] }}
  </div>
</div>
<div class="inline-block align-middle">
  <a (click)="show(item.id)" class="btn btn-sm btn-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
      />
    </svg>
  </a>
  <a (click)="delete(item.id)" class="btn btn-sm btn-danger">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
      />
    </svg>
  </a>
</div>
